body {
  overflow-x: hidden;
}

.hover {
  position: absolute;
  top: -2.8rem;
  width: 100%;
  z-index: 9999999;
}

.hover:hover {
  top: 0px;
}

.breadcrumb-med {
  display: flex;
  list-style: none;
}

.notice a {
  text-decoration: none;
  font-size: 12px;
}

.notice .danger i {
  font-size: 3rem;
  text-align: center;
  color: #721c24;
}

.notice .phone i {
  font-size: 3rem;
  text-align: center;
  color: #155724;
}

.notice span {
  position: relative;
  left: -0%;
  font-weight: bold;
  color: #007bff;
  font-size: 12px;
}

table.timetable td {
  position: relative;
  padding: 0 !important;
}

table.timetable .time {
  width: 10%;
}

table.timetable .doctor {
  min-width: 128px;
  max-width: 256px;
}

table.timetable_week caption {
  caption-side: top;
}

table.timetable_week td {
  position: relative;
  padding: 0 !important;
}

table.timetable_week .time {
  width: 10%;
}

table.timetable_week .doctor {
  width: 12.8%;
}

.item-card {
  position: absolute;
  top: 0px;
}

.pointer {
	cursor: pointer;
}
